<li>
    <div data-tabs id="{{ mood.index }}" class="single-mood">

        <div class="single-mood-quote">
            <div class='quote'>
                <p>{{ mood.quote[:200] | wordwrap }}...</p>
                <!-- Hidden full quote -->
                <!-- <p class='full-quote' style="display: none;">{{ mood.quote }}</p> -->
            </div>
            <p class='date'>{{ mood.formatted_created_at }}</p>
        </div>

        <div class="single-mood-toolbar">
            <div>
                <p>{{ mood.author }}</p>
            </div>
            <div>
                <button class="read-more-btn">Read more</button>
            </div>
        </div>

    </div>
</li>

